.taskpad {
    width: 400px;
}
.hole {
    width: 20px;
    height: 20px;
    background-color: lightgrey;
    border-radius: 100%;
    border: solid slategray;
}
.center-text {
    padding: 0.75rem 0.25rem 0.75rem 0.25rem
}
.list-group-item:hover > button {
    visibility: visible !important;
}